<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Pets_Clinic.Properties.Settings.Pets_ClinicConnectionString"
            connectionString="Data Source=DESKTOP-BH4EKKE\SQLEXPRESS;Initial Catalog=Pets_Clinic;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>